<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lowerpy</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/style.css">

</head>
<body id="index">
	<h1>lowerPy()</h1>
	{% if msg == 'true' %}
		<h4 style="margin: 0px; color: white;"><label style="color: #AD0E3B;">Output:</label> Sua URL é: http://127.0.0.1:8000/{{ source }}</h4>
	{% elif msg == 'false' %}
		<h4 style="margin: 0px; color: white;"><label style="color: #AD0E3B;">Output: </label> URL já foi cadastrada no sistema.</h4>
	{% elif msg == 'noField' %}
		<h4 style="margin: 0px; color: white;"><label style="color: #AD0E3B;">Output: </label> Preencha os campos.</h4>
	{% elif msg == 'urlNotRegistered' %}
		<h4 style="margin: 0px; color: white;"><label style="color: #AD0E3B;">Output: </label> A URL digitada não está cadastrada no sistema.</h4>
	{% elif msg == 'welcome' %}
		<h4 style="margin: 0px; color: white;">Bem-vindo.</h4>
	{% endif %}
	<div class="container drop-shadow center">
		<form method="POST" action="default-app-url/register" enctype="multipart/form-data">
			{%csrf_token%}

			{% if form.errors %}
			    <div class="alert alert-error">
			        <ul>
			            {% for error in form.non_field_errors %}
			                <li>{{ error }}</li>
			            {% endfor %}
			        </ul>
			    </div>
			{% endif %}

			<div class="form-group">
				<label for="source" style="color: #AD0E3B;"><label for="source" style="color: white;">sourceUrl</label> = <label for="source" style="color: #F5D058;">"http://127.0.0.1:8000/"</label>  +  </label>
				{{ form.source }}
				<p>{{ form.source.errors }}</p>
				
				<label for="target" style="color: #AD0E3B;"><label for="target" style="color: white;">targetUrl</label> = </label>
				{{ form.target }}
				<p>{{ form.target.errors }}</p>

				<label style="color: orange;"><label style="color: #AD0E3B;">return</label> <label style="color: white;">lowerpy(</label>source <label style="color: white;">,</label> target<label style="color: white;">)</label></label>
				<p></p>

				<input type="submit" class="btn" value="run code." />
			</div>
			{%csrf_token%}
		</form>
	</div>
</body>
<script type="text/javascript" src="../static/js/index.js"></script>

</html>