@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);
 
 * {font-family: 'Roboto'; box-sizing: border-box;}
 
 input::-webkit-input-placeholder{ color: #7a7a7a; }

 body{
 	padding-top: 5%;
 	text-align: center;
 	color: white;
 	background-color: #171717;
 }

 label{
 	font-weight: normal;
 }

 .container {
 	margin-top: 1% !important;
	padding-top: 30px;
	padding-bottom: 30px;
 	width: 500px;
 	height: 200px;
 	border-radius: 5px;
 	background-color: #242424;
 }

 .drop-shadow {
 	-webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.26);
	-moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.26);
	box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.26);
 }

 .center {
 	margin: auto;
 }

 .input-container{
 	border-width: 0px;
 }

 .onclick{
 	border-width: 0px;
	
	color: #F5D058;

	-webkit-box-shadow: 0px 1px 0px 0px #F5D058;
	-moz-box-shadow: 0px 1px 0px 0px #F5D058;
	box-shadow: 0px 1px 0px 0px #F5D058;
 }

 textarea:focus, input:focus{
	outline: none;
 }

 .form-group{
 	text-align: left;
 }
 
 .btn {
	width: 100%;
 	background-color: #121212;
 	color: white;
 }

 .btn:hover{
 	background-color: #0f0f0f;
	color: #919191;	
 }


